@tailwind base;
@tailwind components;
@tailwind utilities;
@import "fonts.css";

/* purgecss start ignore */

h1,
h2,
h3,
h4 {
  @apply font-display;
}

p {
  a {
    @apply underline;
  }
}

.markdown-body {
  p:last-child {
    @apply mb-0;
  }
}

main {
  p {
    @apply mb-3;
  }
}

.content-wrapper {
  transition: background-color 0.25s;
}

.container-inner {
  @apply px-6;
  @screen sm {
    @apply max-w-screen-sm;
  }
  @screen md {
    @apply max-w-screen-sm;
  }
}

.responsive-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.prose {
  color: currentColor;
  a {
    color: currentColor;
  }
}

/* purgecss end ignore */
